<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h1 class="text-center">
				Who Lives?
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h2 class="text-center">
				Fresh Meat?
			</h2>
		</div>
	</div>
	<div clas="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center">
			<%= link_to "Sign Up Here", sign_up_path, class: "btn btn-danger" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
			<h2 class="text-center">
				Back To Serve Your Sentence?
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
			<%= link_to "Log In Here", log_in_path, class: "btn btn-danger" %>
		</div>
	</div>
</div>
