// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


canvas{
  color: black;
  border: black dashed 2px;
  padding:15px;
}